body{
    background-color: gray;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cuadrado{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(39, 36, 36);
    filter: drop-shadow(1px 1px 10px white);
    height: 900px;
    width: 900px;
    border-radius: 10%;
}

.elements{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 30px;
    flex-direction: column;
    gap: 20px;
    color: white;
    filter: drop-shadow(0px 0px 8px white);
}
